[Unit]
Description=K3s server
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target
ConditionCredential=k3s.token
ConditionCredential=k3s.server.yaml
ConditionHost=cp1

[Install]
WantedBy=multi-user.target

[Service]
ImportCredential=k3s.server.yaml
ImportCredential=k3s.token
Type=notify
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -xc '! /usr/bin/systemctl is-enabled --quiet nm-cloud-setup.service'
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/bin/k3s server --cluster-init --token-file=%d/k3s.token --config %d/k3s.server.yaml --tls-san=%H,%l,cp
