[Unit]
DefaultDependencies=no
Before=systemd-repart.service
PartOf=systemd-repart.service

[Socket]
ListenStream=/run/root-passphrase.sock
Accept=no

[Install]
WantedBy=sysinit.target
