[Match]
Type=ether

[Network]
KeepConfiguration=dhcp-on-stop
DHCP=ipv4
LinkLocalAddressing=ipv4
MulticastDNS=no
LLMNR=no

[DHCPv4]
;ClientIdentifier=mac
;UseHostname=no

# VIP
#[Route]
#Destination=10.2.0.2
#Type=local
